@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
}

.btn-black {
  background-color: #000000;
  border: 1px solid #000000;
  color: #F0EFE9;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #F0EFE9;
  border: 1px solid #F0EFE9;
  color: #191919;
  text-decoration: none;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-video {
  background-color: #ffffff;
  border: 1px solid #191919;
  border-radius: 50px;
  color: #191919;
  padding: 15px;
  text-decoration: none;
}
.btn-video i {
  color: #191919;
}
.btn-video:hover, .btn-video:hover i {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
}

.btn-browse-team {
  background-color: #F0D082;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-browse-team i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-browse-team:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
}

.btn-white {
  background-color: #ffffff;
  border: 1px solid #b6b5b5;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-white i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-white:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #C2AA70;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover {
  background-color: #191919;
}

.stars {
  height: 12px;
  width: 12px;
  background-color: #F94D1C;
  display: inline-block;
}

.section-title p {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-line {
  width: 40px;
  height: 2px;
  background-color: #191919;
}

.news-button {
  align-items: center;
  text-align: center;
}
.news-button .news-btn {
  border-radius: 25%;
  border-width: 15px;
  display: inline-block;
  color: #191919;
  background-color: white;
  margin: 5px;
  margin-bottom: 70px;
  margin-top: 60px;
  font-size: 16px;
  padding: 5px 10px;
}
.news-button .news-btn:hover {
  background-color: #191919;
  color: #F0EFE9;
  cursor: pointer;
}

header {
  background-color: #F0EFE9;
  padding: 10px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .contact-box {
  display: none;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  header .container .menu .top-menu .contact-information .contact-box {
    display: block;
  }
}
header .container .menu .top-menu .contact-information .contact-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .contact-box.last {
  border: none;
}
header .container .menu .top-menu .contact-information .contact-box a {
  text-decoration: none;
  color: #191919;
}
header .container .menu .top-menu .contact-information .contact-box a:hover {
  color: #929292;
}
header .container .menu .top-menu .social-media {
  display: none;
}
@media (min-width: 700px) {
  header .container .menu .top-menu .social-media {
    display: inline-block;
  }
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 12px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #929292;
}
header .container .bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .bottom-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .bottom-menu nav a.active {
  font-weight: 500;
}
header .container .bottom-menu nav a.active::after, header .container .bottom-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .bottom-menu .btn-login {
  padding: 8px 25px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-line {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
  }
}
.showcase .container .content p {
  font-size: 16px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 800px) {
  .showcase .container .content p {
    margin-right: 20px;
    text-align: left;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.brands {
  background-color: #ffffff;
}
.brands .brand-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .brands .brand-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5px;
  }
}
@media (min-width: 1024px) {
  .brands .brand-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.brands .brand-row .content {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .brands .brand-row .content {
    padding-top: 110px;
    padding-bottom: 0;
  }
}
.brands .brand-row .content img {
  margin-top: 30px;
  margin-left: 120px;
}
@media (min-width: 768px) {
  .brands .brand-row .content img {
    margin-top: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .brands .brand-row .content img {
    margin-top: 0;
    margin-left: 50px;
  }
}
@media (min-width: 1400px) {
  .brands .brand-row .content img {
    margin-left: 120px;
  }
}

.features img {
  display: none;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 100%;
  height: 110%;
}
@media (min-width: 1400px) {
  .features img {
    display: block;
  }
}
.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}
.features .container .content-left .left-title p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F94D1C;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .features .container .content-left .left-title p {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .features .container .content-left .left-title p {
    margin-left: 100px;
  }
}
.features .container .content-left .left-title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .features .container .content-left .left-title h2 {
    font-size: 45px;
    text-align: start;
    margin-right: 150px;
  }
}
@media (min-width: 1200px) {
  .features .container .content-left .left-title h2 {
    margin-left: 100px;
  }
}
.features .container .content-left .left-title a {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  margin-left: 100px;
}
@media (min-width: 768px) {
  .features .container .content-left .left-title a {
    padding: 15px 80px;
    margin-left: 100px;
    margin-top: 90px;
  }
}
.features .container .content-left .left-title a i {
  margin-left: 8px;
  font-size: 0.9em;
}
.features .container .content-left .left-title a:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
}
.features .container .content-right {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 50px 130px;
  margin-right: 130px;
  padding-top: 200px;
}
@media (min-width: 1200px) {
  .features .container .content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 130px;
    margin-right: 130px;
    padding-top: 200px;
  }
}
.features .container .content-right .features-box i {
  margin-bottom: 30px;
  font-size: 25px;
}
.features .container .content-right .features-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.features .container .content-right .features-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.about-company .container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 120px;
}
.about-company .container .content-left {
  position: relative;
  z-index: 0;
}
.about-company .container .content-left img {
  display: none;
  height: 600px;
  width: 500px;
  margin-left: 130px;
}
@media (min-width: 1400px) {
  .about-company .container .content-left img {
    display: block;
  }
}
.about-company .container .content-left .founder .box {
  display: none;
  position: relative;
  left: 40px;
  top: -215px;
  z-index: 1;
  height: 180px;
  width: 386px;
  background-color: #BEEBFF;
}
@media (min-width: 1400px) {
  .about-company .container .content-left .founder .box {
    display: block;
  }
}
.about-company .container .content-left .founder .box h3 {
  position: relative;
  left: 26px;
  top: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.about-company .container .content-left .founder .box .title {
  position: relative;
  left: 205px;
  top: 9px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #F94D1C;
}
.about-company .container .content-left .founder .box .description {
  position: relative;
  left: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #191919;
}
@media (min-width: 1400px) {
  .about-company .container .content-right {
    margin-left: 180px;
  }
}
.about-company .container .content-right .title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #F94D1C;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .about-company .container .content-right .title {
    text-align: start;
  }
}
.about-company .container .content-right h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .about-company .container .content-right h2 {
    font-size: 45px;
    text-align: start;
  }
}
.about-company .container .content-right .first-p {
  line-height: 1.8;
}
.about-company .container .content-right .second-p {
  line-height: 1.8;
  margin-bottom: 120px;
}
.about-company .container .content-right a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.about-company .container .content-right a p {
  margin: 0;
  color: #191919;
}
.about-company .container .btn-video {
  width: 56px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-company .container .flex {
  display: flex;
  gap: 2rem;
}

.our-services {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.our-services img {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.our-services .container .content-top {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .our-services .container .content-top {
    padding-bottom: 40px;
  }
}
.our-services .container .content-top .title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F94D1C;
  padding-top: 110px;
  text-align: center;
}
@media (min-width: 768px) {
  .our-services .container .content-top .title {
    text-align: start;
  }
}
.our-services .container .content-top h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .our-services .container .content-top h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: start;
  }
}
.our-services .container .content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  height: auto;
  width: auto;
  align-content: center;
}
@media (min-width: 1400px) {
  .our-services .container .content-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    height: 330px;
    width: auto;
    align-content: center;
  }
}
.our-services .container .content-bottom .service-box {
  background-color: #ffffff;
}
.our-services .container .content-bottom .service-box:hover {
  background-color: #F9D783;
}
.our-services .container .content-bottom .service-box .small-line {
  margin-top: 46px;
  margin-left: 30px;
}
.our-services .container .content-bottom .service-box h3 {
  margin-top: 46px;
  margin-left: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.our-services .container .content-bottom .service-box p {
  margin-left: 30px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.our-services .container .content-bottom .service-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 218px;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 50px;
  width: 56px;
  text-decoration: none;
  aspect-ratio: 1;
}
.our-services .container .content-bottom .service-box a i {
  color: #F0EFE9;
  font-size: 20px;
}
.our-services .container .content-bottom .service-box a:hover, .our-services .container .content-bottom .service-box a:hover i {
  background-color: #F0EFE9;
  border: 1px solid #F0EFE9;
  color: #191919;
  text-decoration: none;
}
.our-services .bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 120px;
}
.our-services .bottom-button .btn-transparent {
  font-weight: 400;
  margin-left: 5px;
}

.why-choose-us {
  position: relative;
  z-index: 0;
}
.why-choose-us .box img {
  display: none;
  background-color: #F0EFE9;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 56%;
  height: 63%;
}
@media (min-width: 1400px) {
  .why-choose-us .box img {
    display: block;
  }
}
.why-choose-us .container {
  position: relative;
  z-index: 0;
}
.why-choose-us .container img {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 1;
}
@media (min-width: 768px) {
  .why-choose-us .container img {
    display: block;
    height: 30%;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .why-choose-us .container img {
    display: block;
    height: auto;
    width: auto;
  }
}
.why-choose-us .container .content-left .title-text .title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F94D1C;
  margin-top: 60px;
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .why-choose-us .container .content-left .title-text .title {
    text-align: start;
  }
}
.why-choose-us .container .content-left .title-text h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .why-choose-us .container .content-left .title-text h2 {
    font-size: 45px;
    text-align: start;
    margin-right: 350px;
  }
}
@media (min-width: 990px) {
  .why-choose-us .container .content-left .title-text h2 {
    font-size: 45px;
    text-align: start;
    margin-right: 350px;
  }
}
@media (min-width: 1200px) {
  .why-choose-us .container .content-left .title-text h2 {
    font-size: 45px;
    text-align: start;
    margin-right: 900px;
  }
}
.why-choose-us .container .content-left .topics {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}
.why-choose-us .container .content-left .topics i {
  font-size: 25px;
  border: 1px solid #cdcccb;
  border-radius: 50%;
  padding: 15px;
}
.why-choose-us .container .content-left .topics h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.why-choose-us .container .content-left .topics p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 74px;
  margin-top: -15px;
}
.why-choose-us .container .content-left .topics .process {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.why-choose-us .container .content-left .topics .strategic {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.why-choose-us .container .content-left .topics .experience {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.why-choose-us .container .content-left .topics .artificial {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-and-case .container .section-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .project-and-case .container .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.project-and-case .container .projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .projects a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .projects a img {
  width: 100%;
  height: auto;
}
.project-and-case .container .projects a h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .projects a .read-more {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}
.project-and-case .container .projects a .read-more i {
  margin-left: 3px;
}
.project-and-case .container .projects a:hover .read-more {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: #F0D082;
}
.meet-our-team .container {
  border-bottom: 1px solid #C2AA70;
}
.meet-our-team .container .section-title p {
  padding-top: 120px;
  text-align: center;
}
@media (min-width: 768px) {
  .meet-our-team .container .section-title p {
    text-align: start;
  }
}
.meet-our-team .container .section-title h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
  font-size: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .meet-our-team .container .section-title h2 {
    font-size: 45px;
    flex-direction: row;
    text-align: start;
  }
}
.meet-our-team .container .section-title h2 a {
  background-color: #F9D783;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .meet-our-team .container .section-title h2 a {
    margin-top: 0;
  }
}
.meet-our-team .container .section-title h2 a:hover {
  background-color: #191919;
  border: 1px solid #191919;
}
.meet-our-team .container .members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .meet-our-team .container .members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
.meet-our-team .container .members img {
  width: 100%;
  height: auto;
}
.meet-our-team .container .members h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
}
.meet-our-team .container .members p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: -5px;
}
.meet-our-team .container .dots {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 70px;
}
.meet-our-team .container .dot {
  margin: 7px;
}

.our-clients {
  background-color: #F0D082;
  position: relative;
  z-index: 0;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .our-clients {
    padding-bottom: 8rem;
  }
}
.our-clients .container {
  position: relative;
}
.our-clients .container .box {
  background-color: #ffffff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-width: 1500px) {
  .our-clients .container .box {
    width: 110%;
    height: 100%;
  }
}
.our-clients .container .section-title {
  text-align: center;
}
.our-clients .container .section-title p {
  padding-top: 120px;
}
.our-clients .container .section-title h2 {
  padding-bottom: 90px;
}
.our-clients .container .client-reactions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 768px) {
  .our-clients .container .client-reactions {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
.our-clients .container .client-reactions span {
  color: #F94D1C;
  height: 5px;
  width: 5px;
  margin: 7px;
  padding-bottom: 30px;
}
.our-clients .container .client-reactions p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.our-clients .container .client-reactions h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-left: 92px;
}
.our-clients .container .client-reactions .positions {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: -5px;
  color: #F94D1C;
  margin-left: 92px;
}
.our-clients .container .client-reactions img {
  margin-top: -140px;
}
.our-clients .container .center-content {
  margin-top: 70px;
}

.article-and-news .container .section-title p {
  padding-top: 120px;
}
.article-and-news .container .section-title h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.article-and-news .container .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .article-and-news .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.article-and-news .container .content .first-section {
  position: relative;
}
.article-and-news .container .content .pic {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.article-and-news .container .content h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.article-and-news .container .dots {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 90px;
}
.article-and-news .container .dot {
  margin: 7px;
  background-color: #DAD9D3;
}
.article-and-news .container .dot:hover {
  background-color: #191919;
}

.news-and-updates {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.news-and-updates img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1530px) {
  .news-and-updates img {
    bottom: 60px;
  }
}
.news-and-updates .container .updates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 110px;
}
.news-and-updates .container .updates h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .news-and-updates .container .updates h2 {
    font-size: 45px;
  }
}
.news-and-updates .container .updates form input {
  border: none;
  border-radius: 25px;
  padding: 10px 10px;
  align-items: center;
  margin-left: 25px;
}
@media (min-width: px) {
  .news-and-updates .container .updates form input {
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  .news-and-updates .container .updates form input {
    padding: 15px 15px;
  }
}
.news-and-updates .container .updates form a {
  margin-left: 20px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}
@media (min-width: 768px) {
  .news-and-updates .container .updates form a {
    padding: 15px 25px;
  }
}
@media (min-width: 1200px) {
  .news-and-updates .container .updates form a {
    padding: 15px 25px;
    display: inline;
  }
}

.crito-footer-top {
  background-color: #0E1021;
  border-bottom: 1px solid #262737;
  position: relative;
  z-index: 0;
}
.crito-footer-top .footer-line {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.crito-footer-top .container .content-top {
  padding-top: 110px;
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .crito-footer-top .container .content-top {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .crito-footer-top .container .content-top {
    grid-template-columns: repeat(5, 1fr);
  }
}
.crito-footer-top .container .content-top img {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .crito-footer-top .container .content-top img {
    padding-right: 260px;
  }
}
.crito-footer-top .container .content-top p {
  color: #A1A2A8;
  margin-right: 100px;
}
.crito-footer-top .container .content-top h3 {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 50px;
}
@media (min-width: 1200px) {
  .crito-footer-top .container .content-top h3 {
    padding-bottom: 50px;
  }
}
.crito-footer-top .container .content-top a {
  display: block;
  color: #A1A2A8;
  text-decoration: none;
  margin-bottom: 5px;
  margin-left: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
@media (min-width: 1200px) {
  .crito-footer-top .container .content-top a {
    margin-bottom: 20px;
  }
}
.crito-footer-top .container .content-top a:hover {
  color: #DAD9D3;
  border: none;
  text-decoration: none;
}

.crito-footer-bottom {
  background-color: #0E1021;
  padding-top: 30px;
  padding-bottom: 20px;
}
.crito-footer-bottom .container .content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crito-footer-bottom .container .content-bottom p {
  display: none;
  color: #A1A2A8;
}
@media (min-width: 768px) {
  .crito-footer-bottom .container .content-bottom p {
    display: flex;
  }
}
.crito-footer-bottom .container .content-bottom .mobile {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .crito-footer-bottom .container .content-bottom .mobile {
    display: none;
  }
}
.crito-footer-bottom .container .content-bottom a {
  color: #A1A2A8;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .crito-footer-bottom .container .content-bottom a {
    margin-left: 15px;
  }
}
.crito-footer-bottom .container .content-bottom a:hover {
  color: #DAD9D3;
}

.lets-connect {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.lets-connect img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 70%;
}
@media (min-width: 768px) {
  .lets-connect img {
    width: 40%;
  }
}
.lets-connect .container .connect {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 100px;
}
.lets-connect .container .connect a {
  color: #191919;
  text-decoration: none;
  margin: 8px;
}
.lets-connect .container .connect a:active {
  font-weight: 500;
}
.lets-connect .container .connect a:hover {
  color: #DAD9D3;
  text-decoration: none;
}
.lets-connect .container .connect h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  padding-top: 10px;
}

.contact-information .container .information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  text-align: left;
  padding-top: 50px;
}
@media (min-width: 1400px) {
  .contact-information .container .information {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: left;
    padding-top: 120px;
  }
}
.contact-information .container .information a {
  position: absolute;
  left: 60px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 50px;
  width: 56px;
  text-decoration: none;
  aspect-ratio: 1;
  margin-top: 50px;
}
.contact-information .container .information a i {
  color: #F0EFE9;
  font-size: 20px;
}
.contact-information .container .information a:hover, .contact-information .container .information a:hover i {
  background-color: #F0EFE9;
  border: 1px solid #F0EFE9;
  color: #191919;
  text-decoration: none;
}
.contact-information .container .information h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-left: 160px;
  margin-top: 60px;
}
.contact-information .container .information p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-left: 160px;
}
.contact-information .container .information .visit {
  position: relative;
  z-index: 0;
  border: none;
}
@media (min-width: 1400px) {
  .contact-information .container .information .visit {
    position: relative;
    z-index: 0;
    border: 1px solid #DAD9D3;
    width: 420px;
    height: 206px;
  }
}
.contact-information .container .information .call {
  position: relative;
  z-index: 0;
  border: none;
}
@media (min-width: 1400px) {
  .contact-information .container .information .call {
    position: relative;
    z-index: 0;
    border: 1px solid #DAD9D3;
    width: 420px;
    height: 206px;
  }
}
.contact-information .container .information .email {
  position: relative;
  z-index: 0;
  border: none;
}
@media (min-width: 1400px) {
  .contact-information .container .information .email {
    position: relative;
    z-index: 0;
    border: 1px solid #DAD9D3;
    width: 420px;
    height: 206px;
  }
}

.message-us .box {
  width: 100%;
  height: 100%;
  background-color: #F0EFE9;
  position: absolute;
  z-index: -1;
  top: 72px;
  left: 0;
}
.message-us .container {
  position: relative;
  z-index: 0;
}
.message-us .container .title {
  text-align: center;
  padding-top: 200px;
}
.message-us .container .title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  .message-us .container .title h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
  }
}
.message-us .container .user-information {
  padding-top: 20px;
}
.message-us .container .user-information .error {
  color: red;
}
.message-us .container .user-information form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-us .container .user-information form input {
  border: 1px solid #DAD9D3;
  border-radius: 25px;
  width: 80%;
  margin-top: 32px;
  padding: 15px 25px;
}
.message-us .container .user-information form textarea {
  height: 160px;
  width: 80%;
  border: 1px solid #DAD9D3;
  border-radius: 25px;
  margin-top: 32px;
  resize: none;
  padding: 15px 25px;
}
.message-us .container .user-information form button {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  margin-left: 10px;
  width: 80%;
  margin-top: 70px;
}
.message-us .container .user-information form button:hover {
  background-color: #191919;
  color: #DAD9D3;
}
.message-us .container .user-information form button i {
  margin-left: 8px;
}
.message-us .container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .message-us .container a {
    margin-left: 70px;
  }
}
@media (min-width: 998px) {
  .message-us .container a {
    margin-left: 90px;
  }
}
@media (min-width: 1400px) {
  .message-us .container a {
    margin-left: 10px;
  }
}

.map iframe {
  padding-top: 180px;
  width: 100%;
}

.not-found img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .not-found img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.not-found .text h1 {
  color: #fbeeee;
  position: absolute;
  top: 10%;
  left: 16%;
  z-index: 1;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-top: 220px;
  font-family: "DM Sans", sans-serif;
}
@media (min-width: 768px) {
  .not-found .text h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
  }
}
.not-found .text h3 {
  color: #fbeeee;
  position: absolute;
  top: 40%;
  left: 19%;
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
}
@media (min-width: 768px) {
  .not-found .text h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
}
.not-found .home {
  position: absolute;
  top: 70%;
  left: 46%;
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
}
@media (min-width: 768px) {
  .not-found .home {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
}

.news-articles .container h2 {
  font-size: 45px;
  margin-top: 70px;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: "DM Sans", sans-serif;
}
.news-articles .container .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.news-articles .container .articles a {
  color: #191919;
  text-decoration: none;
  position: relative;
}
.news-articles .container .articles img {
  width: 420px;
  height: 230px;
}
.news-articles .container .articles h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
}
.news-articles .container .articles p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.news-articles .container .articles .date-box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #F9D783;
  align-items: center;
  text-align: center;
}
.news-articles .container .articles .date-box .day {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}
.news-articles .container .articles .date-box .day .month {
  font-weight: 400;
  margin-bottom: 2px;
}

.details-art-news {
  background-color: #F0EFE9;
}
.details-art-news .container .section-title p {
  padding-top: 120px;
}
.details-art-news .container .section-title h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.details-art-news .container .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .details-art-news .container .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.details-art-news .container .content .first-section {
  position: relative;
}
.details-art-news .container .content .pic {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.details-art-news .container .content h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.details-art-news .container .dots {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 90px;
}
.details-art-news .container .dot {
  margin: 7px;
  background-color: #DAD9D3;
}
.details-art-news .container .dot:hover {
  background-color: #191919;
}

.digitalization .container {
  display: flex;
  justify-content: space-between;
}
.digitalization .container .content-left .section-title h2 {
  margin-top: 6rem;
  font-weight: 700;
}
.digitalization .container .content-left .article-date {
  display: flex;
  margin-top: 2rem;
}
.digitalization .container .content-left .article-date p {
  margin-right: 0.2rem;
}
.digitalization .container .content-left .article-date .dot {
  margin: 0 2rem;
  background-color: #F9D783;
}
.digitalization .container .content-left .article-content .article-image img {
  width: 750px;
  height: 500px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.digitalization .container .content-left .article-description-one p {
  font-size: 0.92rem;
  font-family: "Inter", sans-serif;
}
.digitalization .container .content-left .article-description-big h4 {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.digitalization .container .content-left .article-description-last p {
  font-size: 0.92rem;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.digitalization .container .content-left .article-tags p {
  background-color: #dfdddd;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-size: 0.8rem;
  margin: 0 1rem 4rem;
}
.digitalization .container .content-right .search-bar {
  position: relative;
}
.digitalization .container .content-right .search-bar i {
  position: absolute;
  top: 19.5rem;
  z-index: 1;
  right: 23rem;
  z-index: 2;
}
.digitalization .container .content-right .search-bar input {
  border-radius: 25px;
  border: none;
  background-color: #dfdddd;
  padding: 0.3rem 3rem;
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 19rem;
  width: 400px;
}
.digitalization .container .content-right .empty-box {
  border: 1px solid #dfdddd;
  width: 400px;
  height: 460px;
  position: absolute;
  right: 19rem;
  top: 52rem;
}
.digitalization .container .content-right .recent-posts {
  margin-top: 25rem;
  margin-left: 4rem;
}
.digitalization .container .content-right .recent-posts .title h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.digitalization .container .content-right .recent-posts .title .small-line {
  margin-top: -1.9rem;
  margin-bottom: 1rem;
}
.digitalization .container .content-right .recent-written-posts h4 {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.digitalization .container .content-right .recent-written-posts p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.digitalization .container .content-right .recent-written-posts .line {
  width: 300px;
  height: 1px;
  background-color: #d4d4d4;
  margin-bottom: 1rem;
}
.digitalization .container .content-right .empty-box-two {
  border: 1px solid #dfdddd;
  width: 400px;
  height: 350px;
  position: absolute;
  right: 19rem;
  top: 84rem;
}
.digitalization .container .content-right .categories {
  margin-top: 7rem;
}
.digitalization .container .content-right .categories .categories-list {
  display: inline-block;
}
.digitalization .container .content-right .categories .categories-list .bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.digitalization .container .content-right .categories .categories-list .posts {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #7e7d7d;
}

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}