.our-services {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
   

    img {
        display: inline;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;


    }
    
    .container {

        .content-top {
            padding-bottom: 20px;

            @media (min-width: 768px) {
                padding-bottom: 40px;
            }
            
            .title {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: #F94D1C;
                padding-top: 110px;
                text-align: center;

                @media (min-width: 768px) {
                    text-align: start;
                }
                    
            }

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                

                @media (min-width: 768px) {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 45px;
                    text-align: start;
                    
                }

            }
        }
    
    
        .content-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
            height: auto;
            width: auto;
            align-content: center;
            
            
            @media (min-width: 1400px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 25px;
                height: 330px;
                width: auto;
                align-content: center;
            }
          
            


            .service-box {
                background-color: #ffffff;

                &:hover {
                    background-color: #F9D783;
                }

                .small-line {
                    margin-top: 46px;
                    margin-left: 30px;
                }
                
                h3 {
                    margin-top: 46px;
                    margin-left: 30px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
                    
                p {
                    margin-left: 30px;
                    margin-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 20px;
                    
                }

                    a {
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 218px;
                    background-color: #191919;
                    border: 1px solid #191919;
                    border-radius: 50px;
                    width: 56px;
                    text-decoration: none;
                    aspect-ratio: 1;
                    


                  
                
                
                    i {
                        color: #F0EFE9;
                        font-size: 20px;
                        
                        
                    }
                    &:hover, &:hover i  {
                        background-color: #F0EFE9;
                        border: 1px solid #F0EFE9;
                        color: #191919;
                        text-decoration: none;
                        
                    }
                }
            }
              
       }
    
    }

    .bottom-button {
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 120px;
        
        .btn-transparent { 
            font-weight: 400;
            margin-left: 5px;

        }
    }
}
                        
                       
                