.section-title {
    p {
        color: #F94D1C;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}